/*
Theme Name:HC Desenvolvimentos
Theme URI: https://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

trs+tab= transition

font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'K2D', sans-serif;
*/

/* CRIAÇÃO DE VARIÁVEIS */
  :root{
    /* FONTES */
    --monstserrat:'Montserrat', sans-serif;
    --k2d:'K2D', sans-serif;

    /* CORES PRINCIPAIS */
    --azultopo: #f2fafc;
    --azulfundo:  #d2eaf4;
    --azulfooter: #8ba8b;
    --fontefooter: #d0dce2;
    --fontetopo: #92acbc;
    --titulonoticia: #2e2e2e;
    --contentnoticia: #b69a99;
  }


*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'K2D', sans-serif;
  background: #e9f4fa;
}
/* TOPO */
  .topo {
    background-color: var(--azultopo);
  }
    .topo .menu-topo {

    }
      .topo .menu-topo .logo {

      }
        .topo .menu-topo .logo a {

        }
          .topo .menu-topo .logo a img {
            width: 100%;
            max-width: 170px;
            margin: 10px auto;
          }
        .topo .menu-topo .navbar {

        }
          .topo .menu-topo .navbar button {

          }
            .topo .menu-topo .navbar button span {

            }
          .topo .menu-topo .navbar .navbar-header {
            float: initial;
          }
          .topo .menu-topo .navbar .collapse {

          }
            .topo .menu-topo .navbar .collapse .nav {
              text-align: right;
              width: 100%;
              max-width: 925px;
            }
              .topo .menu-topo .navbar .collapse .nav li {
                padding: 20px 0px 0px 35px;
                display: inline-block;
                float: initial;
              }
                .topo .menu-topo .navbar .collapse .nav li a {
                  text-decoration: none;
                  color: var(--fontetopo);
                  font-size: 21px;
                  padding: 10px;
                  font-weight: 300;
                }
                .topo .menu-topo .navbar .collapse .nav li .inicio {
                  font-weight: 700;
                }
              .topo .menu-topo .navbar .collapse .nav li.menu-pesquisa {
                padding: 0;
                padding-left: 15px;
              }
                .topo .menu-topo .navbar .collapse .nav li.menu-pesquisa a{
                  color: transparent;
                  background-color: transparent;
                  background: url(img/busca.png);
                  background-size: cover!important;
                  background-position: center!important;
                  width: 25px;
                  height: 25px;
                  padding: 0;
                }
              .topo .menu-topo .navbar .imagem-busca-lista {
                padding: 15px 0px 0px 0px;
              }
                .topo .menu-topo .navbar  .imagem-busca-lista .imagem-busca {
                  padding: 8px 0px 0px 0px;
                }
                  .topo .menu-topo .navbar  .imagem-busca-lista .imagem-busca img {
                    padding: 0px;
                    width: 28px;
                    margin: 0 auto;
                  }

/* FOOTER */
  footer{
    background: #8aa8b6;
    padding: 20px 10px;
    margin-top: 50px;
  }
    footer .rodape{
      font-family: var(--k2d);
      color: #fff;
    }
      footer .rodape .logo{

      }
        footer .rodape .logo a{
          display: inline-block;
        }
          footer .rodape .logo a figure{

          }
            footer .rodape .logo a figure img{
              width: 100%;
              height: auto;
            }
        footer .rodape .logo p{
          display: inline-block;
          color: #fff;
          font-size: 28px;
          margin: 0;
          padding-left: 20px;
        }
      footer .rodape .texto {

      }
        footer .rodape .texto p{
          font-size: 17px;
          margin-top: 20px;
          width: 100%;
          max-width: 525px;
          padding: 0 10px;
        }
        footer .rodape .menuRodape{
          width: 100%;
          position: relative;
          min-height: 136px;
        }
          footer .rodape .menuRodape ul{
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            right: 0;
          }
            footer .rodape .menuRodape ul li{
              display: inline-block;
              padding: 0 10px;
              color: #fff;
              font-family: var(--k2d);
              position: relative;
            }
            footer .rodape .menuRodape ul li.menu-pesquisa {
              display: none;
            }
            footer .rodape .menuRodape ul li::after{
              content: "";
            }
            footer .rodape .menuRodape ul li::after{
             content: "|";
             width: 1px;
             display: block;
             position: absolute;
             right: 0;
             top: 50%;
             -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
             transform: translateY(-50%);
            }
            footer .rodape .menuRodape ul li:last-child::after{
              content: "";
            }
              footer .rodape .menuRodape ul li a{
                color: inherit;
                text-decoration: none;
                font-size: 17px;
                font-weight: 100;
                text-transform: lowercase;
              }

/* PG */
  .sidebar {

  }
    .sidebar .sidebar-secoes {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
    .sidebar .sidebar-secoes section {
      background: #fff;
      padding: 20px 24px;
      margin: 30px auto 50px;
      border-radius: 22px;
    }
      .sidebar .sidebar-secoes section h4 {
          font-size: 28px;
          text-transform: uppercase;
          text-align: center;
          color: #eb7d7c;
      }
      .sidebar .sidebar-secoes section .borda {
          border-bottom: 2px dotted #eb7d7c;
          width: 198px;
          display: block;
            margin: 0 auto 7px;
      }
      .sidebar .sidebar-secoes section .noticia {

      }
        .sidebar .sidebar-secoes section .noticia .titulo {
            display: inline-block;
            width: 48%;
            padding: 20px 0 0;
        }
          .sidebar .sidebar-secoes section .noticia .titulo p {
            font-size: 17px;
            font-weight: 500;
            margin: 0;
          }
            .sidebar .sidebar-secoes section .noticia .titulo p a {
                text-decoration: none;
                color: var(--titulonoticia);
            }
          .sidebar .sidebar-secoes section .noticia .titulo span {
              font-size: 14px;
              font-weight: 700;
              color: #39fb3a;
          }
        .sidebar .sidebar-secoes section .noticia .imagem {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          margin-top: 24px;
        }
          .sidebar .sidebar-secoes section .noticia .imagem figure {
            height: auto;
            max-height: 80px;
            overflow: hidden;
          }
            .sidebar .sidebar-secoes section .noticia .imagem figure img {
              width: 100%;
              height: auto;
            }
    .sidebar .sidebar-secoes .secao-mais-procurados {

    }
      .sidebar .sidebar-secoes .secao-instagram {

      }
        .sidebar .sidebar-secoes .secao-instagram #instafeed {
          width: 100%;
          font-size: 0;
        }
          .sidebar .sidebar-secoes .secao-instagram #instafeed a{
            display: inline-block;
            width: 33%;
          }
            .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram{
              width: 100%;
              height: 100px;
              background-size: cover!important;
              background-position: center!important;
              position: relative;
            }
            .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram::before{
              content: "";
              -webkit-transition: ease-in-out .3s;
              -o-transition: ease-in-out .3s;
              transition: ease-in-out .3s;
            }
            .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram:hover::before{
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              background: rgba(0, 0, 0, 0.42);
            }
              .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram .likeComments{
                opacity: 0;
                text-align: center;
                width: 100%;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                font-size: 13px;
                font-family: var(--k2d);
              }
              .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram:hover .likeComments {
                opacity: 1;
              }
                .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram .likeComments span i{
                  padding-left: 5px;
                }
                .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram .likeComments span.likes{

                }
                .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram .likeComments span.likes::before{
                }
                .sidebar .sidebar-secoes .secao-instagram #instafeed a .itemInstagram .likeComments span.comments{

                }
      .sidebar .sidebar-secoes .secao-facebook {
        text-align: center;
      }
        .sidebar .sidebar-secoes .secao-facebook .facebook {
          width: 100%;
          height: auto;
        }
        .sidebar .sidebar-secoes .secao-facebook .facebook iframe{
          width: 100%;
          height: auto;
          min-height: 440px;
        }

  ul.listaDePosts{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;
  }
    ul.listaDePosts .postCategoria{
      display: inline-block;
      width: 28.3%;
      font-family: var(--k2d);
      font-size: 13px;
      background: #fff;
      border-radius: 42px;
      margin: 0 20px 70px;
      vertical-align: top;
    }
      ul.listaDePosts .postCategoria a.linkPost{  
        text-decoration: none;
        color: initial;
        padding: 0 20px;
        display: block;
      }
        ul.listaDePosts .postCategoria article.informacoesPost{
          font-family: var(--k2d);
          position: relative;
        }
          ul.listaDePosts .postCategoria article.informacoesPost h3.tituloPost{
            margin: 0;
            text-align: left;
            width: 100%;            
            margin-top: 30px;
            min-height: 80px;
          }
          ul.listaDePosts .postCategoria article.informacoesPost p.descricaoPost{
            color: #ad8e8e;
            margin-top: 15px;
          }
          ul.listaDePosts .postCategoria article.informacoesPost span.dataPost::before{
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 11px;
            background: #298eb8;
            display: block;
            max-width: 50%;
            margin: 15px 0 10px;
          }
          ul.listaDePosts .postCategoria article.informacoesPost span.dataPost{
            display: block;
            width: 100%;
            padding: 0 20px;
            color: #298eb8;
            font-weight: bold;
          }
          ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost{
            width: 100%;
            padding: 0 20px;
          }
            ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul{
              padding: 0;
              margin: 0;
              list-style: none;
            }
              ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul li{
                display: inline-block;
                margin: 10px 2px 10px;
              }
                ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul li a{
                  width: 100%;
                  max-width: 30px;
                  text-decoration: none;
                }
                  ul.listaDePosts .postCategoria article.informacoesPost .compartilhamentoPost ul li a i{
                    color: #ad8e8e;
                    font-size: 14px;
                  }
          ul.listaDePosts .postCategoria article.informacoesPost figure.imagemDestaquePost{
            width: 100%;
            max-height: 230px;
            overflow: hidden;
            border-radius: 0 0 25px 25px;
          }
            ul.listaDePosts .postCategoria article.informacoesPost figure.imagemDestaquePost img{
              width: 100%;
              height: auto;
              border-radius: 0 0 25px 25px;
            }
             ul.listaDePosts .postCategoria article.informacoesPost .linkFora{
              position: absolute;
              display: block;
              width: 50px;
              height: 50px;
              background: #8aa8b7;
              text-align: center;
              right: 20px;
              bottom: -20px;
              border-radius: 100%;
              color: #fff;
              font-size: 27px;
             }
              ul.listaDePosts .postCategoria article.informacoesPost .linkFora i{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
              }
        ul.listaDePosts .postCategoria a.botaoVerPost{
          
        }
          ul.listaDePosts .postCategoria a.botaoVerPost i{

          }
    .caixaPesquisa{
      width: 100%;
      height: auto;
      max-height: 0;
      background: #f2fafc;
      overflow:hidden;
      -webkit-transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) .4s;
      -o-transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) .4s;
      transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) .4s;
    }
      .caixaPesquisa form{
        font-size: 0;
      }
        .caixaPesquisa form input{
          width: 80%;
          display: inline-block;
          min-height: 50px;
          border: none;
          outline: none;
          background: transparent;
          font-family: var(--k2d);
          padding: 5px 15px;
          font-size: 20px;
          color: var(--fontetopo);
        }
        .caixaPesquisa form input[type="submit"]{
          width: 20%;
        }
      .caixaPesquisa.aberto{
        max-height: 60px;
        box-shadow: -1px 7px 5px 1px #00000061;
        z-index: 2;
        position: relative;
        -webkit-transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) .4s;
        -o-transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) .4s;
        transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) .4s;
      }
  body::-webkit-scrollbar{ background: #fff;width: 10px;}
  body::-webkit-scrollbar-button{ background: #8aa8b6;}
  body::-webkit-scrollbar-track{}
  body::-webkit-scrollbar-track-piece {}
  body::-webkit-scrollbar-thumb{ background: #8aa8b6;}
  body::-webkit-scrollbar-corner {}
  body::-webkit-resizer{}
  .pg-404{
      width: 100%;
      min-height: 50vh;
    }
      .pg-404 .logo{
        width: 100%;
        max-width: 200px;
        min-height: 59px;
        background:url(img/logo.png);
        background-size: cover!important;
        background-position: center!important;
        margin: 20px auto;
      }
      .pg-404 .conteudo{
        margin: 20px auto;
        width: 100%;
        max-width: 200px;
        font-family: var(--k2d);
      }
        .pg-404 .conteudo p {
          font-size: 18px;
        }
        .pg-404 .conteudo a{
          display: block;
          text-align: center;
          text-decoration: none;
          color: #7f5858;
          background: #f1d0d1;
          padding: 7px 10px;
          border-radius: 4px;
          width: 100%;
          max-width: 180px;
          margin: 0 auto;
        }

/* PÁGINA PRINCIPAL */
  .pg-principal{
    padding-bottom:85px;
  }

    .pg-principal nav{
      text-align: right;
      padding: 10px 0;
      max-width: 95%;
      margin: 0 auto;
      margin-top: 10px;
    }
      .pg-principal nav ul{
        margin-top: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
      }
        .pg-principal nav ul li{
          display: inline-block;
        }
          .pg-principal nav ul li a{
            text-transform: uppercase;
            color: #8aa9b7;
            font-size: 20px;
            margin: 0;
            text-decoration: none;
            padding: 20px 20px;
          }
      .pg-principal nav #closeMenu{
        display:none;
      }
      .menuAtivar{
        text-transform: uppercase;
        color: #8aa9b7;
        padding:10px;
        font-size: 17px;
        display: none;
      }
       .menuAtivar button{
        background: transparent;
        padding: 5px;
        border-radius: 5px;
        vertical-align: sub;
        outline: none;
        border: none;
        } 
          .menuAtivar button span{
            width: 28px;
            height: 2px;
            background: #8aa9b7;
            display: block;
            margin: 4px 0;
            border-radius: 3px;
          }
        .pg-principal nav a:hover{
          color:#fff;
          background: #97d2e8;
        }
    .pg-principal .areaConteudo{

    }
    .pg-principal .areaConteudo h2{
      color: #ad8e8e;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 15px;
      margin:0;
    }
    .pg-principal .areaConteudo .logo{

    }
      .pg-principal .areaConteudo .logo img{
        display: block;
        margin: 45px auto 0;
        width: 100%;
        height: auto;
        max-width: 600px;
      }
    .pg-principal .areaConteudo .imgIlustrativa{

    }
      .pg-principal .areaConteudo .imgIlustrativa img{
        display: block;
        height: auto;
        width: 100%;
        max-width: 350px;
        margin: 80px auto 0;
      }
      .pg-principal .areaConteudo .areaTexto article{
        color: #ad8e8e;
        max-width: 650px;
        margin: 45px auto;
      }
        .pg-principal .areaConteudo .areaTexto article h6{
          color: #ad8e8e;
          text-transform: uppercase;
          font-size: 35px;
          text-align: center;
        } 
        .pg-principal .areaConteudo .areaTexto article p{
          color: #ad8e8e;
          text-align: center;
          padding: 0 10px;
          margin-bottom: 50px;
          line-height: 17px;
        }  

        .pg-principal .plataformas{
         max-width: 890px;
          margin: 0 auto;
        } 
          .pg-principal .plataformas ul{
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
          }
            .pg-principal .plataformas ul li{
              width: 100%;
              display: inline-block;
              max-width: 22.1%;
              margin: 0 9px;
            }
              .pg-principal .plataformas ul li a{
                text-decoration: none;
                display: block;
                position: relative;
                overflow: hidden;
              }
              .pg-principal .plataformas ul li h3{
                color: #8aa9b7;
                text-transform: uppercase;
                font-style: italic;
                font-weight: 300;
                font-size: 16px;
                margin: 4px 0;
              } 
              .pg-principal .plataformas ul li img{
                display: block;
                width: 100%;
                height: auto;
              }
              .pg-principal .plataformas ul li a i{
                position: absolute;
                top: 160%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                -webkit-transition: ease-in-out .4s;
                -o-transition: ease-in-out .4s;
                transition: ease-in-out .4s;
                color: #fff;
                font-size: 25px;
                z-index: 3;
              }
              .pg-principal .plataformas ul li a:hover i{
                top: 60%;
              }
              .pg-principal .plataformas ul li a::before{
                content: "";
                width: 99%;
                height: 81%;
                position: absolute;
                background: rgba(0, 0, 0, 0.53);
                z-index: 2;
                left: 1px;
                top: 118%;
                -webkit-transition: ease-in-out .4s;
                -o-transition: ease-in-out .4s;
                transition: ease-in-out .4s;
                border-radius: 10px;
              }
              .pg-principal .plataformas ul li a.lojaMaju::before{
                background: rgba(247, 161, 191, 0.53);
              }
              .pg-principal .plataformas ul li a.padrinhos::before{
                background: rgba(247, 161, 191, 0.53);
              }
              .pg-principal .plataformas ul li a.portal::before{
                background: rgba(233, 244, 250, 0.53);
              }

              .pg-principal .plataformas ul li a:hover::before{
                top: 18%;
              }
              .pg-principal .plataformas ul li a:hover i{
                top: 60%;
              }
  @media(max-width: 768px){
      .pg-principal nav{
        text-align: left;
        
        position: fixed;
        top: 0;
        background: #d2eaf3;
        z-index: 9;
        max-width: 100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
      .pg-principal nav #closeMenu{
        display: block;
        float: right;
        margin: 0 20px;
        background: transparent;
        border: solid #fff;
        color: #fff;
        padding: 10px 0;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        line-height: 0px;
        font-size: 25px;
        text-align: center;
        outline: none;
      }
        .pg-principal nav.open{
          left:0;
          transition:All 1s ease;
          -webkit-transition:All 1s ease;
          -moz-transition:All 1s ease;
          -o-transition:All 1s ease;
        }
    .menuAtivar{
      display: block;
      float: initial;
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 10px;
    }
    .pg-principal .areaConteudo h2{
      padding-top: 70px;
    }
    .pg-principal .areaConteudo .logo img{
      margin: 10px auto 0;
      margin-top: 30px;
    }
    .pg-principal .areaConteudo .imgIlustrativa img{
      margin: 20px auto 0;
    }
    .pg-principal .areaConteudo .areaTexto article p{
      text-align: center;
    }
    .pg-principal .areaConteudo .areaTexto article h6{
      text-align: center;
    }
    .pg-principal .plataformas ul li {
      width: 100%;
      display: block;
      max-width: 250px;
      margin: 0 auto;
    }
    .pg-principal nav a{
      font-size: 20px;
      margin: 0 0;
      padding: 0px 20px;
      display: block;
    }
  }

/* PÁGINA DO POST*/
  .pg-post{
    background: linear-gradient(to top, rgba(242, 250, 252, 0) 0%, rgba(242, 250, 252, 0.65) 45%, rgba(242, 250, 252, 0.48) 85%, rgb(242, 250, 252) 100%);
  }
    .pg-post .breadCrumbs{
      padding: 20px 10px 0;
    }
    .pg-post .breadCrumbs::before{
      content: "";
      width: 100%;
      max-width: 50%;
      background: #d2eaf3;
      display: block;
      height: 5px;
      border-radius: 5px;
      margin: 20px 0;
    }
      .pg-post .breadCrumbs ul{
        margin: 0;
        padding: 0;
        list-style: none;
      }
        .pg-post .breadCrumbs ul li{
          display: inline-block;
          margin-right: 30px;
          position: relative;
        }
          .pg-post .breadCrumbs ul li a{
            font-family: 'Raleway', sans-serif;
            color: #cedde4;
            font-size: 20px;
            text-decoration: none;
          }
        .pg-post .breadCrumbs ul li::before{
          content: "";
          background: url(img/seta2.png);
          background-size: cover!important;
          background-position: center!important;
          display: block;
          width: 12px;
          height: 24px;
          position: absolute;
          right: -22px;
          top: 3px;
        }
        .pg-post .breadCrumbs ul li:last-child::before{
          display: none;
        }
        .pg-post .breadCrumbs ul li:nth-child(2)::before{
          background: url(img/seta3.png);
        }
        .pg-post .breadCrumbs ul li.ativo a{
          color: #8aa9b7;
          font-weight: bold;
        }
  .pg-post .conteudoPost{
    background: #fff;
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: 95%;
    margin-top: 30px;
  }
    .pg-post .conteudoPost h1.tituloPost{
      text-align: center;
      padding: 0 20px;
      font-size: 47px;
      width: 100%;
      margin: 0 auto;
      padding-top: 20px;
      margin-bottom: 20px;
    }
    .pg-post .conteudoPost a.categoriaPost{
      text-transform: uppercase;
      font-family: var(--k2d);
      font-size: 18px;
      margin: 0 10px;
      color: #70b4d0;
      text-decoration: none;
      position: relative;
      margin-right: 20px;
    }
    .pg-post .conteudoPost a.categoriaPost::after{
      content: "-";
      width: 30px;
      position: absolute;
      top: 50%;
      right: -27px;
      transform: translateY(-50%);
    }
      .pg-post .conteudoPost span.dataPost{
        font-family: var(--k2d);
        color: #70b4d0;
        font-size: 18px;
      }
      .pg-post .conteudoPost figure.imagemDestaquePost{
        padding-top: 30px;
        background-size: cover!important;
        background-position: center!important;
        max-height: 450px;
        margin-top: 30px;
      }
        .pg-post .conteudoPost figure.imagemDestaquePost img{
          width: 100%;
          height: auto;
          visibility: hidden;
        }
      .pg-post .conteudoPost .textoPost{
        text-align: initial;
        padding: 60px 30px;
        font-family: var(--k2d);
        font-weight: 300;
        font-size: 19px;
      }
        .pg-post .conteudoPost .textoPost p{
          font-family: var(--k2d);
          font-weight: 300;
          font-size: 19px;
        }
        .pg-post .conteudoPost .textoPost h1{

        }
        .pg-post .conteudoPost .textoPost h2{

        }
        .pg-post .conteudoPost .textoPost h3{

        }
        .pg-post .conteudoPost .textoPost h4{

        }
        .pg-post .conteudoPost .textoPost h5{

        }
      .pg-post .conteudoPost .disqus{
        width: 100%;
        overflow: hidden;
        padding: 0 20px;
      }

/* PÁGINA DE CATEGORIA*/
  .pg-categoria{

  }
    .pg-categoria .nomeCategoria{
      width: 100%;
      background: #fff;
      min-height: 240px;
      max-width: 800px;
      border-radius: 0px 25px 25px 0;
      position: relative;
      margin-top: 50px;
      background-image: url(img/bannerCategoria.png);
      background-repeat: no-repeat;
    }
    .pg-categoria .nomeCategoria::after{
      content: "";
      width: 173px;
      height: 161px;
      display: block;
      background-image: url(img/afterCategoria.png);
      background-size: cover;
      position: absolute;
      right: -21.5%;
      top: 50%;
    }
      .pg-categoria .nomeCategoria h3{
        margin: 0;
        position: absolute;
        top: 50%;
        right: 30px;
        color: #298eb8;
        font-size: 60px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-shadow: 1px 0px 15px #ffffff78;
      }
      .pg-categoria .nomeCategoria .bordaCategoria{
        height: 3px;
        width: 100%;
        max-width: 264px;
        background: #298eb8;
        display: block;
        position: absolute;
        right: 0;
        top: 70%;
        border-radius: 3px;
      }
      .pg-categoria .nomeCategoria h3::after{
        width: 100%;
        height: 4px;
        background: #298eb8;
        display: block;
        position: absolute;
        border-radius: 5px;
        right: -13.6%;
        bottom: -20px;
      }
    .pg-categoria .postsCategoria{
      width: 100%;
      margin-top: 100px;
    }
    .pg-categoria .postsCategoria a.verMais {
      display: block;
      width: 100%;
      background: #fff;
      min-height: 50px;
      max-width: 200px;
      border-radius: 0 25px 25px 0;
      text-align: center;
      font-size: 24px;
      line-height: 44px;
      color: var(--contentnoticia);
      text-decoration: none;
      box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.29);
    }

/* PÁGINA INICIAL */
  .pg-inicial{
    
  }
    .pg-inicial .bannerDestaque{
      width: 100%;
      position: relative;
    }
    .pg-inicial .marcador{
      display: none;
      width: 100%;
      height: auto;
    }
    .pg-inicial .bannerDestaque::after{
      content: "";
    }
      .pg-inicial .bannerDestaque .bannerDestaqueInicial{
      }
        .pg-inicial .bannerDestaque .bannerDestaqueInicial .item{
          
        }
          .pg-inicial .bannerDestaque .bannerDestaqueInicial .item figure{
            
          }
            .pg-inicial .bannerDestaque .bannerDestaqueInicial .item figure img{
              width: 100%;
              height: auto;
              }
        .pg-inicial .bannerDestaque .bannerDestaqueInicial .owl-controls{
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
        }
          .pg-inicial .bannerDestaque .bannerDestaqueInicial .owl-controls .owl-dots{
            text-align: center;

          }
            .pg-inicial .bannerDestaque .bannerDestaqueInicial .owl-controls .owl-dots .owl-dot {
              display: inline-block;
              margin: 0 5px;
            }
              .pg-inicial .bannerDestaque .bannerDestaqueInicial .owl-controls .owl-dots .owl-dot span{
                display: block;
                width: 19px;
                height: 19px;
                background: red;
                border-radius: 100%;
                background: #fff;
                border: 4px solid #d2eaf3;
                -webkit-transition: ease-in-out .4s;
                -o-transition: ease-in-out .4s;
                transition: ease-in-out .4s;
              }
             .pg-inicial .bannerDestaque .bannerDestaqueInicial .owl-controls .owl-dots .owl-dot.active span{
              background: #d2eaf3;
              border: 4px solid #fff;
             }
        .pg-inicial .bannerDestaque button{
          width: 40px;
          height: 40px;
          border: none;
          outline: none;
          background: transparent;
          background-size: cover!important;
          background-position: center!important;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
        }
        .pg-inicial .bannerDestaque button.carrosselDestaqueEsquerda{
          background:url(img/esquerda.png);
          left: 20px;
        }
        .pg-inicial .bannerDestaque button.carrosselDestaqueDireita{
          background:url(img/direita.png);
          right: 20px;
        }
  .pg-inicial .postsInicial {

  }
    .postsInicial {

    }
    .pg-inicial .postsInicial .post {
      width: 80%;
      border-radius: 0 25px 25px 0;
      margin: 0;
      margin-bottom: 50px;
      margin-top: 50px;
      position: relative;
    }
      .pg-inicial .postsInicial .post .texto {
        padding: 20px 0 27px;
        background: #fff;
        padding-left: 70px;
        border-radius: 35px;
        box-shadow: 0px 0px 22px -6px #a7a7a7;
      }
        .pg-inicial .postsInicial .post .texto .titulo {
          width: 100%;
          max-width: 675px;
        }
        .pg-inicial .postsInicial .post .texto .titulo a{
        	text-decoration: none;
        	color: inherit;
        }
          .pg-inicial .postsInicial .post .texto .titulo h2 {
            font-weight: 400;
            color: var(--titulonoticia);
            margin: 0;
            min-height: 80px;
            width: 100%;
            max-width: 470px;
          }
        .pg-inicial .postsInicial .post .texto .conteudo {
            width: 100%;
          max-width: 530px;
        }
          .pg-inicial .postsInicial .post .texto .conteudo p {
            color: var(--contentnoticia);
            font-size: 13px;
            padding: 8px 0;
            margin: 0;
          }
        .pg-inicial .postsInicial .post .texto .categoria {
            border-bottom: 3px solid #39fb3a;
          width: 100%;
          max-width: 300px;
          padding: 4px 0;
          padding-left: 15px;
        }
          .pg-inicial .postsInicial .post .texto .categoria a {
            color: #39fb3a;
            text-decoration: none;
            font-size: 17px;
            letter-spacing: 4px;
          }
            .pg-inicial .postsInicial .post .texto .categoria a img {
              width: 34px;
              padding: 4px;
              margin-right: 4px;
            }
      .pg-inicial .postsInicial .post .imagem {
        width: 100%;
        max-width: 185px;
        position: absolute;
        top: 20px;
        right: -9%;
        box-shadow: 0px 0px 22px -6px #a7a7a7;
        border-radius: 20px;
      }
        .pg-inicial .postsInicial .post .imagem .data {
            background: #fff;
          border-radius: 24px 24px 0 0;
          padding: 10px 12px;
        }
        .pg-inicial .postsInicial .post .imagem .data span {
          color: #39fb3a;
          font-weight: 800;
          font-size: 12px;
        }
        .pg-inicial .postsInicial .post .imagem .data ul {
          margin-bottom: 0;
        }
          .pg-inicial .postsInicial .post .imagem .data ul li {
            list-style: none;
              display: inline-block;
              max-width: 54px;
          }
            .pg-inicial .postsInicial .post .imagem .data ul li {
                width: 100%;
                max-width: 9px;
            }
              .pg-inicial .postsInicial .post .imagem .data ul li img {
                width: 10px;
              }
        .pg-inicial .postsInicial .post .imagem figure {

        }
          .pg-inicial .postsInicial .post .imagem figure img {
            width: 100%;
            max-width: 200px;
            border-radius: 0 0 25px 25px;
          }
        .pg-inicial .postsInicial .post .imagem a {
          position: absolute;
          left: 162px;
          bottom: 2px;
        }
          .pg-inicial .postsInicial .post .imagem a img {
            width: 37px;
          }
    .pg-inicial .postsInicial .ver-mais {

    }
      .pg-inicial .postsInicial button.alm-load-more-btn {
      	border: none;
      	background: white;
      	color: var(--contentnoticia);
      	font-size: 25px;
      	box-shadow: 0px 0px 20px 2px #0000003d;
      	outline: none;
      	display: block;
      	margin: 0 auto;
      	text-align: center;
      	padding: 10px 50px;
      	border-radius: 25px;
      }

/* PÁGINA DE BUSCA*/
  .pg-busca{

  }
    .pg-busca .tituloResultado{
      width: 100%;
      max-width: 600px;
      background: #fff;
      min-height: 150px;
      position: relative;
      margin: 30px 0;
      border-radius: 0 25px 25px 0;
      box-shadow: 1px 1px 20px 0px #00000038;
    }
      .pg-busca .tituloResultado p{
        margin: 0;
        font-family: var(--k2d);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        color: #9ab5c1;
        font-size: 31px;
      }
      .pg-busca .tituloResultado p::after{
        content: "";
        background: #9ab5c1;
        width: 100%;
        display: block;
        height: 4px;
        max-width: 200px;
        position: absolute;
        right: 0;
        top: 56px;
        border-radius: 3px;
      }
  .pg-busca .postsEncontrados{

  }


  .containerFull{
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
  }
  @media(max-width: 1440px){
    .sidebar {
      padding: 0 10px;
    }
    .pg-inicial .postsInicial .post .texto {
      border-radius: 0 35px 35px 0;
    }
    .pg-inicial .marcador{
      display: block;
    }
    .pg-inicial .postsInicial button.alm-load-more-btn {
    	border: none;
    	background: white;
    	color: var(--contentnoticia);
    	padding: 7px 15px 7px 68px;
    	border-radius: 0 30px 30px 0;
    	font-size: 25px;
    	margin: 30px auto;
    	box-shadow: 0px 0px 20px 2px #0000003d;
    	outline: none;
    	display: initial;
    }
    .pg-inicial .postsInicial .post{
    	margin-top: 0;
    }
}
  @media(max-width: 1367px){
    .pg-inicial .postsInicial .post .texto {
      padding-left: 30px;
    }
    .pg-inicial .postsInicial .post {
      width: 85%;
    }
    .sidebar .sidebar-secoes section .noticia .imagem figure img {
      padding: 0 10px;
    }
    .sidebar .sidebar-secoes section .noticia .titulo p {
      font-size: 14px;
    }
    .sidebar .sidebar-secoes section .noticia .titulo span {
      font-size: 12px;
    }
    .pg-inicial .postsInicial .post .texto .conteudo p {
      padding-right: 30px;
    }
    .sidebar .sidebar-secoes section {
      padding: 20px 10px;
    }
    .sidebar .sidebar-secoes section h4 {
      font-size: 22px;
    }
    ul.listaDePosts .postCategoria {
      width: 30.3%;
      margin: 0 12px 70px;
    }
    ul.listaDePosts .postCategoria a.linkPost {
      padding: 0 10px;
    }
    ul.listaDePosts .postCategoria article.informacoesPost h3.tituloPost {
      font-size: 21px;
      text-align: center;
    }
    ul.listaDePosts .postCategoria article.informacoesPost span.dataPost::before {
      margin: 15px auto 10px;
    }
    .pg-post .conteudoPost h1.tituloPost {
      font-size: 34px;
    }
    .pg-post .conteudoPost .textoPost p {
      font-size: 17px;
    }
    .pg-post .conteudoPost .textoPost {
      padding: 60px 15px;
      font-size: 19px;
    }
    .pg-post .conteudoPost {
      margin: 30px auto 0;
    }
  }
  @media(max-width: 991px){
    .pg-inicial .postsInicial .post .texto .conteudo p {
      padding-right: 30px;
    }
    .pg-inicial .postsInicial .post {
      width: 85%;
    }
    ul.listaDePosts .postCategoria {
      width: 45.3%;
      margin: 0 12px 40px;
    }
    ul.listaDePosts .postCategoria article.informacoesPost p.descricaoPost {
      font-size: 12px;
    }
    ul.listaDePosts .postCategoria article.informacoesPost h3.tituloPost {
      font-size: 19px;
    }
    .pg-categoria .nomeCategoria h3 {
      right: 21px;
      font-size: 42px;
    }
    .pg-categoria .nomeCategoria {
      min-height: 160px;
      margin: 20px auto 0;
      max-width: 710px;
      border-radius: 25px;
    }
    .pg-categoria .postsCategoria {
      width: 100%;
      margin-top: 40px;
    }
    .pg-post .conteudoPost .textoPost p {
      font-size: 16px;
    }
    .pg-post .conteudoPost h1.tituloPost {
      font-size: 30px;
    }
    .pg-post .breadCrumbs ul {
      padding: 0 10px;
    }
    .pg-categoria .nomeCategoria::after{
      display: none;
    }
    .pg-post .breadCrumbs::before{
      display: none;
    }
  }
  @media(max-width: 767px){
    .pg-inicial .postsInicial .post {
      width: 95%;
      background: #fff;
      margin: 0 auto;
      margin-bottom: 50px;
      border-radius: 25px;
      text-align: center;
    }
    .pg-inicial .postsInicial .post .imagem {
      max-width: 100%;
      position: initial;
      top: initial;
      right: initial;
      box-shadow: none;
      border-radius: initial;
    }
    .pg-inicial .postsInicial .post .imagem .data {
      border-radius: initial;
      padding: 10px 30px;
      text-align: center;
    }
    .pg-inicial .postsInicial .post .imagem figure {
      text-align: center;
    }
    .pg-inicial .postsInicial .post .imagem figure img {
      width: 100%;
      max-width: 400px;
      border-radius: initial;
    }
    .pg-inicial .postsInicial .post .imagem a {
      display: none;
    }
    .pg-inicial .postsInicial .post .texto{
      border-radius: 25px;
      box-shadow: initial;
    }
    .pg-inicial .postsInicial button.alm-load-more-btn {
      width: 100%;
      max-width: 200px;
      margin: 25px auto;
      display: block;
      border-radius: 25px;
      text-align: center;
      padding: 10px 10px;
    }
    .sidebar .sidebar-secoes section h4 {
      font-size: 20px;
    }
    footer .rodape .menuRodape {
      min-height: 0;
    }
    footer .rodape .menuRodape ul {
      position: relative;
      bottom: initial;
      right: initial;
      text-align: center;
      margin-top: 40px;
    }
    footer .rodape .logo {
      text-align: center;
    }
    footer .rodape .texto p {
      text-align: center;
      margin: 20px auto 0;
    }
    .navbar-toggle .icon-bar {
      background: #8aa9b6;
    }
    .topo .menu-topo .navbar button {
      float: initial;
      display: block;
      position: absolute;
      top: -57px;
      right: 20px;
    }
    .topo .menu-topo .navbar {
      margin: 0;
      min-height: 0;
    }
    .topo .menu-topo .navbar .collapse .nav li {
      display: block;
      text-align: left;
      padding: 5px 10px;
    }
    .topo .menu-topo .navbar .collapse .nav li .imagem-busca {
      padding: inherit;
    }
    .topo .menu-topo .navbar .collapse .nav .imagem-busca-lista {
      padding: 10px;
    }
    .pg-inicial .postsInicial .post .texto .titulo {
      max-width: 100%;
    }
    .pg-inicial .postsInicial .post .texto .categoria {
      margin: 0 auto;
    }
    .topo .menu-topo .navbar .collapse .nav li a{
      font-size: 18px;
      -webkit-transition: ease-in-out .4s;
      -o-transition: ease-in-out .4s;
      transition: ease-in-out .4s;
    }
    .pg-categoria .postsCategoria a.verMais {
      margin: 0 auto;
      border-radius: 25px;
      min-height: 35px;
    }
    .pg-categoria .nomeCategoria {
      border-radius: 0;
    }
    .pg-post .breadCrumbs ul li a {
      font-size: 17px;
    }
    .pg-post .breadCrumbs ul li::before {
      width: 8px;
      height: 14px;
      right: -22px;
      top: 6px;
    }
    .pg-busca .tituloResultado p {
      font-size: 26px;
    }
    .pg-busca .tituloResultado {
      max-width: 100%;
      border-radius: 0;
    }
    .pg-busca .tituloResultado p::after{
      display: none;
    }
    .caixaPesquisa form input {
      font-size: 17px;
    }
    .pg-inicial .bannerDestaque button, .pg-inicial .bannerDestaque .bannerDestaqueInicial .owl-controls .owl-dots .owl-dot span{
      display: none;
    }
    .pg-principal .plataformas ul li a:hover::before {
    	top: 16%;
    }
}
@media(max-width: 610px){
    .pg-inicial .postsInicial .post .texto .titulo {
      max-width: 100%;
    }
    .pg-inicial .postsInicial .post .texto .titulo h2 {
      font-size: 27px;
    }
    .pg-inicial .postsInicial .post .texto {
      padding: 20px 15px 27px;
    }
    .pg-inicial .postsInicial .post .texto .categoria a img {
      width: 29px;
    }
    .pg-inicial .postsInicial .post .texto .categoria a {
      font-size: 13px;
    }
    .pg-inicial .postsInicial .post .texto .categoria {
      border-bottom: 3px solid #39fb3a;
      max-width: 200px;
    }
    .pg-inicial .postsInicial button.alm-load-more-btn{
      font-size: 21px;
    }
    ul.listaDePosts .postCategoria {
      width: 90.3%;
    }
    .pg-post .conteudoPost {
      width: 100%;
      max-width: 100%;
    }
    .pg-post .conteudoPost .textoPost p {
      font-size: 15px;
    }
    .pg-post .conteudoPost h1.tituloPost {
      font-size: 25px;
      margin-bottom: 5px;
    }
    .pg-post .conteudoPost a.categoriaPost, .pg-post .conteudoPost span.dataPost {
      font-size: 16px;
    }
    .pg-post .breadCrumbs ul li::before {
      top: 3px;
    }
    .pg-post .breadCrumbs ul li a {
      font-size: 15px;
    }
    .pg-post .conteudoPost .textoPost {
      padding: 60px 10px;
    }
    .pg-busca .tituloResultado p {
      font-size: 22px;
    }
    .pg-busca .tituloResultado {
      min-height: 110px;
    }
    .caixaPesquisa form input {
      padding: 5px 4px;
      font-size: 16px;
    }
    .pg-inicial .marcador{
      display: none;
    }
    .pg-inicial .postsInicial .post{
      margin-bottom: 0;
      margin-top: 50px;
    }
  }
  @media(max-width: 445px){
    .pg-inicial .postsInicial .post .imagem figure img {
      border-radius: initial;
    }
    .pg-inicial .postsInicial .post .texto .titulo h2 {
      font-size: 24px;
    }
    footer .rodape .logo a figure img {
      max-width: 50px;
    }
    footer .rodape .texto p {
      font-size: 15px;
    }
    footer .rodape .logo p {
      font-size: 20px;
    }
    footer .rodape .menuRodape ul li a {
      font-size: 14px;
    }
    .pg-inicial .postsInicial .post .imagem figure img {
      border-radius: 0 0 25px 25px;
    }
    .pg-categoria .postsCategoria a.verMais {
      font-size: 21px;
    }
    .pg-post .conteudoPost h1.tituloPost {
      font-size: 21px;
    }
    .pg-post .conteudoPost a.categoriaPost, .pg-post .conteudoPost span.dataPost {
      font-size: 14px;
    }
    .pg-busca .tituloResultado p {
      font-size: 20px;
    }
  }
  @media(max-width: 425px){
    .topo .menu-topo .navbar button {
      top: -62px;
    }
    .pg-post .conteudoPost .textoPost p {
      font-size: 14px;
    }
    .caixaPesquisa form input[type="submit"]{
      padding: 5px 0;
    }
    .caixaPesquisa form input {
      width: 70%;
    }
  }


.pg-post .containerFull {
    padding: 0 10px;
}

body.page-template-principal header{
	display: none;
}